

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>

$(".invisic").hide();


$("#menu").click(function() {
  $(".invisic").show();
})
$(".manya").click(function(){
  $(".invisic").hide();
})
// $("#menu").click(function(){
//   $("#title").toggle();
// });
//
// $("#manya").click(function(){
//   $("#tab").hide();                                       //cancle menu
//   $("#manya").hide();
//   $("#title").toggle();
//
//
//   $('html, body').css({
//   overflow: 'auto',                //start scroll
//   height: 'auto'
// });
// });


</script>



<script src="index.js" charset="utf-8"></script>
</body>
</html>
