<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right"> -->
          <!-- 6 -->
          <!-- <li id="compose"><a href="/compose" >COMPOSE</a></li>
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact" >CONTACT US</a></li>

        </ul>
    </div>
  </nav>

  <body>
    <div class="container"> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Tech-Blog</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">



  <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5110/5110470.png">
  <!-- /*********************fonts ****************/ -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poly&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <!-- /**********************************menu**************************************************/ -->

  <!-- <div class="tab">
        <h1>fjkjfidsjihfdsifi</h1>
        </div> -->


  <!-- <div class="searchPage">
    <input id="im" type="search" placeholder="You Search Here" autofocus="autofocus" name="" value="">
  </div> -->

  <!-- *****************************************  NAVBAR  ***************************************** -->

  <section id="title">
<div class="container-fluid">


 <nav class="navbar navbar-expand navbar-expand-lg navbar-dark ">
    <a style="text-shadow: 1.5px 1.5px rgba(60,255,208,.9); font-size:25px;"class="navbar-brand menu" id="menu" >Tech-Blog</a>
    <!-- <img src="https://cdn-icons-png.flaticon.com/512/5110/5110470.png"  width="40" height="30" alt=""> -->
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>

   <div  class="collapse navbar-collapse" id="navbarTogglerDemo01">
<!-- style="border-bottom: 2px solid white;" -->
       <ul class="navbar-nav ms-auto">
         <li class="nav-item">
             <a  style="padding-left: 40px; " class="nav-link Tk pd" href="#Tech">Tech  </a>

         </li>
           <li  class="nav-item">
               <a style="padding-left: 30px; " class="nav-link sp pd" href="#StartUps">StartUps</a>
           </li>
           <li class="nav-item">
               <a  style="padding-left: 30px; " class="nav-link Ino  pd" href="#Innovation">Inovations</a>
           </li>
           <li class="nav-item">
               <a  style="padding-left: 30px; " class="nav-link  Fin  pd" href="#Finance">Finance</a>
           </li>

       </ul>

   </div>


</nav>



<div class="row invisic">
  <div class="row ">
<div class="col-lg-4 tab ">
<div class="">

</div>
<ul class="flexbox-Conatiner">
<div class="" style="height:80px;   width:200px; color:rgba(60,255,208,.9); font-size:32px; position:relative; right:12px;">
  <a class="nav-link"  href="/Register"><span><i class="fa-solid fa-user"></i></span>    Account <span style="width: 80%;"><i class="fa-solid fa-plus"></i></span></a>
</div>
  <!-- <li class="msectn py-12 flexbox-item"  style="color:rgba(60,255,208,.9); font-size:32px;">
  <a class="nav-link" href="">  <span><i class="fa-solid fa-user"></i></span>   Account   </a>
</li> -->
<li class="msectn py-12 flexbox-item">
  <a class="nav-link " href="#Tech" href="/secrets#Tech">Tech</a>
</li>
<li class="msectn py-12 flexbox-item " >
  <a class="nav-link  " href="#StartUps">StartUps</a>
</li>
<li class="msectn py-12 flexbox-item ">
  <a class="nav-link " href="#Innovation">Innovation</a>
</li>
<li class="msectn py-12 flexbox-item">
<a class="nav-link " href="#Finance">Finance</a>
</li>
<li class="msectn py-12 flexbox-item">
  <a class="nav-link " href="#StartUp">more</a>
</li>
<li class="msectn py-12 flexbox-item">
  <a href="#Newsletter">
  <a class="nav-link" href="#Newsletter">Newsletter</a>
  </a>
</li>

</ul>

</div>
</div>
<div class="col-lg-7 manya" >

</div>
</div>


  </section>
