<%- include("partials/header") -%>


<h1>compose</h1>

<form class="" action="/compose" method="post">

<div class="">


<label >Title</label>
<input class="form-control" type="text" name="title" value="" width="200">

<label>Image</label>
<input class="form-control" type="url" name="ImageUrl" value="">
<label>content</label>
<textarea class="form-control" name="content" rows="5" cols="30"></textarea>
<label>Category</label>
<input class="form-control" type="text" name="category" value="">
<button type="submit" name="button">Publish</button>

</div>

</form>


<%- include("partials/footer") -%>
