<%- include("partials/header")  -%>



<style>
  body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
  }
  .signup {
    text-align: center;
    margin-top: 50px;
  }
  form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
</style>



<h1 class="signup">Login </h1>
<form action="/login" method="post">

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="username" required autocomplete="off">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Login">
    <!-- <button type="button" class="btn btn-primary" name="button">login</button> -->
  <a href="/Register"><button type="button" class="btn btn-primary" name="button">Sign up</button></a>


</form>
</body>
</html>

<%- include("partials/blankfooter")  -%>
